/* RESET */
body {
  background-color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: initial;
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
svg {
  clip-rule: evenodd;
  display: block;
  fill-rule: evenodd;
}
input, 
textarea,
select {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 0;
  width: 100%;
}
button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 0;
}

/* OVERRIDES TO REVIST */
.article {
  padding: 0 !important;
  margin-block-end: 0 !important;
}

/* HEADER */
.header {
  background-color: #F7F7F7;
}

/* NAV */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
  padding-block-start: 32px;
  padding-block-end: 32px;
  width: 80%;
}
.nav-details {
  align-items: center;
  display: flex;
}
.nav-logo {
  display: block;
}
.nav-logo-image {
  height: 24px;
  width: 56px;
}
.nav-title {
  margin-inline-start: 16px;
}
.nav-desktop-menu {
  display: none;
}
.nav-desktop-menu-link + .nav-desktop-menu-link {
  margin-inline-start: 16px;
}
.nav-mobile-menu {
  display: flex;
}
.nav-mobile-menu-trigger,
.nav-mobile-search-trigger {
  fill: #666;
  padding: 2px;
  margin-inline-start: 8px;
}
.nav-mobile-menu-trigger:hover,
.nav-mobile-search-trigger:hover {
  fill: #333;
}
.nav-mobile-menu-trigger:active,
.nav-mobile-search-trigger:active {
  fill: #000;
}
@media screen and (min-width: 1024px) {
  .nav-desktop-menu {
    display: flex;
  }
  .nav-mobile-menu {
    display: none;
  }
}

/* HERO */
.hero-wrapper {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
  padding-block-start: 32px;
  padding-block-end: 64px;
  text-align: center;
  width: 80%;
}
.hero-search {
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16666 3.33341C5.945 3.33341 3.33332 5.94509 3.33332 9.16675C3.33332 12.3884 5.945 15.0001 9.16666 15.0001C10.7777 15.0001 12.2349 14.3481 13.2914 13.2915C14.348 12.235 15 10.7778 15 9.16675C15 5.94509 12.3883 3.33341 9.16666 3.33341ZM1.66666 9.16675C1.66666 5.02461 5.02452 1.66675 9.16666 1.66675C13.3088 1.66675 16.6667 5.02461 16.6667 9.16675C16.6667 10.9373 16.0524 12.5654 15.0265 13.8481L18.0892 16.9108C18.4147 17.2363 18.4147 17.7639 18.0892 18.0893C17.7638 18.4148 17.2362 18.4148 16.9107 18.0893L13.848 15.0266C12.5653 16.0525 10.9372 16.6667 9.16666 16.6667C5.02452 16.6667 1.66666 13.3089 1.66666 9.16675Z' fill='%2374808A'/%3E%3C/svg%3E%0A");
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: thin solid #CCC;
  border-radius: 6px;
  display: inline-block;
  padding: 16px 24px 16px 44px;
  margin-block-start: 32px;
  max-width: 400px;
}

/* MOBILE MENU */
.mobile-menu-wrapper {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
  padding-block-end: 32px;
  width: 80%;
}
.mobile-menu-link {
  display: block;
  text-align: center;
}
.mobile-menu-link + .mobile-menu-link {
  margin-block-start: 32px;
}
@media screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}

/* SEARCH */
.mobile-search-wrapper {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
  padding-block-end: 32px;
  width: 80%;
}
.mobile-search-input {
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16666 3.33341C5.945 3.33341 3.33332 5.94509 3.33332 9.16675C3.33332 12.3884 5.945 15.0001 9.16666 15.0001C10.7777 15.0001 12.2349 14.3481 13.2914 13.2915C14.348 12.235 15 10.7778 15 9.16675C15 5.94509 12.3883 3.33341 9.16666 3.33341ZM1.66666 9.16675C1.66666 5.02461 5.02452 1.66675 9.16666 1.66675C13.3088 1.66675 16.6667 5.02461 16.6667 9.16675C16.6667 10.9373 16.0524 12.5654 15.0265 13.8481L18.0892 16.9108C18.4147 17.2363 18.4147 17.7639 18.0892 18.0893C17.7638 18.4148 17.2362 18.4148 16.9107 18.0893L13.848 15.0266C12.5653 16.0525 10.9372 16.6667 9.16666 16.6667C5.02452 16.6667 1.66666 13.3089 1.66666 9.16675Z' fill='%2374808A'/%3E%3C/svg%3E%0A");
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: thin solid #CCC;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 16px 12px 40px;
}
@media screen and (min-width: 1024px) {
  .mobile-search {
    display: none;
  }
}

/* BODY */
.body-wrapper {
  padding-block-start: 40px;
  padding-block-end: 40px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
  width: 80%;
}

/* GRID */
.grid {
  column-gap: 32px;
  display: grid;
  row-gap: 32px;
}
.grid-item {
  display: grid;
}
@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* CARD */
.card {
  background-color: #F7F7F7;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 32px;
  text-align: center;
  text-decoration: none;
}
.card-title {
  color: #000;
}
.card-divider {
  background-color: #CCC;
  height: 1px;
  margin: 32px auto 16px auto;
  width: 64px;
}
.card-info {
  color: #666;
  margin-block-start: 16px;
}

/* FOOTER */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1120px;
  padding-block-start: 40px;
  padding-block-end: 80px;
  width: 80%;
}
.footer-nav {
  display: flex;
}
.footer-link {
  display: block;
}
.footer-link + .footer-link {
  margin-left: 16px;
}

/* WITH ASIDE */
.main {
  margin-block-end: 32px;
}
.aside {
  display: grid;
  row-gap: 32px;
}
@media screen and (min-width: 1024px) {
  .with-aside {
    align-items: start;
    column-gap: 32px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .aside {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    padding-inline-start: 32px;
  }
  .main {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    margin-block-end: 0;
  }
}

/* MAIN */
.main-header {
  margin-block-end: 32px;
}
.main-content-card {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .main-content-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.04), 0 8px 32px rgba(0,0,0,.08);
    padding: 32px;
  }
}

/* ARTICLE ACTIONS */
.article-actions {
  display: flex;
  margin-block-start: -16px;
  margin-block-end: 16px;
}
.article-actions-button {
  fill: #666;
  padding: 8px;
  position: relative;
}
.article-actions-button:hover {
  fill: #333;
}
.article-actions-icon {
  height: 16px;
  padding: 2px;
  width: 16px;
}
.article-actions-tooltip {
  background-color: #333;
  border-radius: 4px;
  bottom: 100%;
  color: #FFF;
  font-size: 14px;
  left: 50%;
  padding: 4px 12px;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
}
.article-actions-tooltip::before {
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 4px;
  content: '';
  display: block;
  left: calc(50% - 4px);
  position: absolute;
  top: 100%;
}
@media screen and (min-width: 1024px) {
  .article-actions {
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

/* SIDEBAR SEARCH */
.sidebar-search {
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16666 3.33341C5.945 3.33341 3.33332 5.94509 3.33332 9.16675C3.33332 12.3884 5.945 15.0001 9.16666 15.0001C10.7777 15.0001 12.2349 14.3481 13.2914 13.2915C14.348 12.235 15 10.7778 15 9.16675C15 5.94509 12.3883 3.33341 9.16666 3.33341ZM1.66666 9.16675C1.66666 5.02461 5.02452 1.66675 9.16666 1.66675C13.3088 1.66675 16.6667 5.02461 16.6667 9.16675C16.6667 10.9373 16.0524 12.5654 15.0265 13.8481L18.0892 16.9108C18.4147 17.2363 18.4147 17.7639 18.0892 18.0893C17.7638 18.4148 17.2362 18.4148 16.9107 18.0893L13.848 15.0266C12.5653 16.0525 10.9372 16.6667 9.16666 16.6667C5.02452 16.6667 1.66666 13.3089 1.66666 9.16675Z' fill='%2374808A'/%3E%3C/svg%3E%0A");
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: thin solid #CCC;
  border-radius: 6px;
  display: none;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 16px 12px 40px;
}
@media screen and (min-width: 1024px) {
  .sidebar-search {
    display: block;
  }
}

/* BREADCRUMBS */
.breadcrumbs {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-block-end: 40px;
}
.breadcrumbs-link {
  color: #333;
  text-decoration: none;
}
.breadcrumbs-link:hover {
  color: #000;
  text-decoration: underline;
}
.breadcrumbs-divider {
  color: #666;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
}

/* ARTICLE LINK */
.article-link {
  background-color: #F7F7F7;
  color: inherit;
  display: flex;
  outline: none;
  padding: 24px 32px;
  text-decoration: none;
}
.article-link + .article-link {
  margin-block-start: 32px;
}
.article-link:hover {
  background-color: #F7F7F7;
}
.article-link-breadcrumbs {
  margin-block-end: 8px;
}
.article-link-image {
  flex-shrink: 0;
  height: 80px;
  width: auto;
}
.article-link-summary {
  color: #333;
  margin-block-start: 8px;
}

/* ARTICLE META */
.article-meta {
  color: #333;
  fill: #333;
  font-size: 14px;
  line-height: 20px;
  margin-block-start: 16px;
}
.article-meta-item {
  display: flex;
}
.article-meta-item + .article-meta-item {
  margin-block-start: 8px;
}
.article-meta-icon {
  height: 12px;
  padding: 4px;
  width: 12px;
}
.article-meta-label {
  margin-inline-start: 4px;
}

/* ARTICLE/CATEGORY LIST */
.article-list,
.category-list {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  margin-block-start: 16px;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.article-list-item,
.category-list-item {
  margin-block-start: 8px;
}
.article-list-link,
.category-list-link {
  color: #333;
}
.article-list-link:hover,
.category-list-link:hover {
  color: #000;
  text-decoration: underline;
}

/* SHOW MORE */
.show-more {
  background-color: #F7F7F7;
  font-weight: 500;
  margin-block-start: 32px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 16px 20px;
}
.show-more:disabled {
  opacity: .5;
}

/* ERROR */
.error {
  text-align: center;
}
.error-title {
  font-size: 56px;
  line-height: 64px;
}
.error-message {
  font-size: 18px;
  line-height: 28px;
  margin-block-start: 24px;
}
.error-search {
  background-color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16666 3.33341C5.945 3.33341 3.33332 5.94509 3.33332 9.16675C3.33332 12.3884 5.945 15.0001 9.16666 15.0001C10.7777 15.0001 12.2349 14.3481 13.2914 13.2915C14.348 12.235 15 10.7778 15 9.16675C15 5.94509 12.3883 3.33341 9.16666 3.33341ZM1.66666 9.16675C1.66666 5.02461 5.02452 1.66675 9.16666 1.66675C13.3088 1.66675 16.6667 5.02461 16.6667 9.16675C16.6667 10.9373 16.0524 12.5654 15.0265 13.8481L18.0892 16.9108C18.4147 17.2363 18.4147 17.7639 18.0892 18.0893C17.7638 18.4148 17.2362 18.4148 16.9107 18.0893L13.848 15.0266C12.5653 16.0525 10.9372 16.6667 9.16666 16.6667C5.02452 16.6667 1.66666 13.3089 1.66666 9.16675Z' fill='%2374808A'/%3E%3C/svg%3E%0A");
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: thin solid #CCC;
  border-radius: 6px;
  display: inline-block;
  padding: 16px 24px 16px 44px;
  margin-block-start: 24px;
  max-width: 400px;
}

/* ACCESS BANNER */
.access-banner {
  border: thin solid #CCC;
  border-radius: 6px;
  margin-block-start: 32px;
  overflow: hidden;
}
.access-banner-header {
  background-color: #F7F7F7;
  display: flex;
  padding: 16px;
}
.access-banner-icon {
  flex-shrink: 0;
  height: 16px;
  padding: 4px;
  width: 16px;
}
.access-banner-title {
  flex-grow: 1;
  font-weight: 500;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
}
.access-banner-toggle {
  flex-shrink: 0;
}
.access-banner-body {
  border-top: thin solid #CCC;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 16px 24px;
}
.access-banner-group + .access-banner-group {
  margin-block-start: 4px;
}

/* ALERT */
.alert {
  animation-name: alert;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  background-color: #333;
  border-radius: 6px;
  bottom: 0;
  color: #FFF;
  display: flex;
  fill: #FFF;
  font-size: 14px;
  left: 50%;
  line-height: 20px;
  padding: 16px;
  position: fixed;
  transform: translate3d(-50%, -32px, 0);
  z-index: 1;
}
.alert-error {
  background-color: #600;
}
.alert-success {
  background-color: #060;
}
.alert-message {
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}
.alert-close {
  flex-shrink: 0;
  margin-inline-start: 4px;
}
.alert-icon {
  height: 16px;
  padding: 2px;
  width: 16px;
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, -32px, 0);
  }
}

/* ARTICLE FEEDBACK */
.article-feedback {
  border-block-start: thin solid #EEE;
  margin-block-start: 32px;
  margin-inline-start: -32px;
  margin-inline-end: -32px;
  padding-block-start: 32px;
  padding-inline-start: 32px;
  padding-inline-end: 32px;
  text-align: center;
}
.article-feedback-title {
  margin-bottom: 32px;
}
.article-feedback-options {
  display: flex;
  justify-content: center;
  margin-block-start: 16px;
}
.article-feedback-button {
  background-color: #333;
  border-radius: 4px;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
}
.article-feedback-button.secondary {
  background-color: #EEE;
  color: #333;
}
.article-feedback-button + .article-feedback-button {
  margin-inline-start: 8px;
}
.article-feedback-input {
  border: thin solid #CCC;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  margin-block-start: 16px;
  max-width: 100%;
  min-width: 100%;
  padding: 8px 12px;
}
.article-feedback-input:focus {
  border-color: #666;
}
.article-feedback-input.invalid {
  background-color: #FEE;
  border-color: #600;
  color: #300;
}
.article-feedback-actions {
  display: flex;
  margin-block-start: 32px;
}
.article-feedback-message {
  color: #900;
  font-size: 14px;
  line-height: 20px;
  margin-block-start: 8px;
  text-align: start;
}
